.mat-form-field {
  width: 100%
}

.cursor-pointer {
  cursor: pointer;
}

.files {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-none {
  display: none;
}

.cursor-disabled {
  pointer-events: none;
}

.type-button-toggle {
  width: 100%;
}
