<h1 mat-dialog-title>{{ translationKeys.createFormHeader | translate }}</h1>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div mat-dialog-content *ngIf="!isLoading" [ngClass]="{ 'cursor-disabled': isCreating }">
  <form [formGroup]="transactionForm">
    <div class="type-button-toggle mat-form-field-wrapper">
      <mat-button-toggle-group formControlName="type" class="type-button-toggle">
        <mat-button-toggle *ngFor="let type of types" [value]="type.value" class="type-button-toggle">
          {{ type.translationKey | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-form-field appearance="outline" *ngIf="transactionForm.controls.type.value === transactionTypeTransfer">
      <mat-label>{{ 'translationKeys.createFormFromAccountLabel' | translate }}</mat-label>
      <input type="text" matInput formControlName="fromAccountUid" [matAutocomplete]="fromAccount" />
      <mat-autocomplete #fromAccount="matAutocomplete" [displayWith]="displayAccount.bind(this)">
        <mat-option *ngFor="let account of filteredFromAccounts$ | async" [value]="account.uid">
          {{ account.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{
          (transactionForm.controls.type.value === transactionTypeTransfer
            ? translationKeys.createFormToAccountLabel
            : translationKeys.createFormAccountLabel
          ) | translate
        }}
      </mat-label>
      <input type="text" matInput formControlName="accountUid" [matAutocomplete]="account" />
      <mat-autocomplete #account="matAutocomplete" [displayWith]="displayAccount.bind(this)">
        <mat-option *ngFor="let account of filteredAccounts$ | async" [value]="account.uid">
          {{ account.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="transactionForm.controls.type.value !== transactionTypeTransfer">
      <mat-label>{{ translationKeys.createFormCategoryLabel | translate }}</mat-label>
      <input type="text" matInput formControlName="categoryUid" [matAutocomplete]="category" />
      <mat-autocomplete #category="matAutocomplete" [displayWith]="displayCategory.bind(this)">
        <mat-option *ngFor="let category of filteredCategories$ | async" [value]="category.uid">
          {{ category.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translationKeys.createFormCurrencyCodeLabel | translate }}</mat-label>
      <input type="text" matInput formControlName="currencyCode" [matAutocomplete]="currency" />
      <mat-autocomplete #currency="matAutocomplete" [displayWith]="displayCurrency.bind(this)">
        <mat-option *ngFor="let currency of filteredCurrencies$ | async" [value]="currency.code">
          [{{ currency.code }}] {{ currency.name }} - {{ currency.symbol }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="transactionForm.controls.type.value === transactionTypeExpense">
      <mat-label>{{ translationKeys.createFormMerchantLabel | translate }}</mat-label>
      <input type="text" matInput formControlName="merchantUid" [matAutocomplete]="merchant" />
      <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displayMerchant.bind(this)">
        <mat-option *ngFor="let merchant of filteredMerchants$ | async" [value]="merchant.uid">
          {{ merchant.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translationKeys.createFormAmountLabel | translate }}</mat-label>
      <input type="number" matInput formControlName="amount" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translationKeys.createFormDateLabel | translate }}</mat-label>
      <input matInput formControlName="date" [matDatepicker]="datePicker" />
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ translationKeys.createFormDescriptionLabel | translate }}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label *ngIf="selectedFiles?.length === 0">
        {{ translationKeys.createFormChooseFilesLabel | translate }}
      </mat-label>

      <div *ngFor="let selectedFile of selectedFiles" class="files">
        <span>{{ selectedFile.name }}</span>
        <mat-icon (click)="removeFile(selectedFile.name)" class="cursor-pointer">clear</mat-icon>
      </div>

      <input matInput disabled [ngClass]="{ 'display-none': selectedFiles.length !== 0 }" />
      <mat-icon matSuffix class="cursor-pointer" (click)="fileInput.click()">attach_file</mat-icon>
      <input hidden (change)="selectFiles($event)" #fileInput type="file" multiple />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end" [ngClass]="{ 'cursor-disabled': isCreating }">
  <button mat-raised-button color="secondary" (click)="onCancelClick()">
    {{ sharedTranslationKeys.mainActionButtonCancel | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="createTransaction()">
    {{ sharedTranslationKeys.mainActionButtonOk | translate }}
  </button>
</div>
