<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <img /> -->

    <div fxShow="true" fxHide.lt-md>
      <a mat-button [routerLink]="'/accounts'"> {{ translationKeys.navbarAccountsMenu | translate }} </a>
      <a mat-button [routerLink]="'/transactions'"> {{ translationKeys.navbarTransactionsMenu | translate }} </a>
      <a mat-button [routerLink]="'/about'"> About </a>
      <a mat-button [routerLink]="'/contact'"> Contact </a>
    </div>

    <span class="menu-spacer"></span>

    <div fxShow="true" fxHide.lt-md>
      <a mat-button *ngIf="!isAuthenticated" (click)="login()" routerLinkActive="mat-accent">
        {{ translationKeys.navbarLoginOrRegister | translate }}
      </a>
      <a mat-button [routerLink]="'/profile'" *ngIf="isAuthenticated">
        {{ currentUser?.firstName }} {{ currentUser?.lastName }}
      </a>
      <a mat-button *ngIf="isAuthenticated" (click)="logout()"> {{ translationKeys.navbarLogout | translate }} </a>
      <mat-form-field>
        <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage()">
          <mat-option *ngFor="let language of languages" [value]="language.resource">
            {{ language.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a [routerLink]="'/accounts'" mat-list-item (click)="sidenav.toggle()">
        {{ translationKeys.navbarAccountsMenu | translate }}
      </a>
      <a [routerLink]="'/transactions'" mat-list-item (click)="sidenav.toggle()">
        {{ translationKeys.navbarTransactionsMenu | translate }}
      </a>
      <a [routerLink]="'/about'" mat-list-item (click)="sidenav.toggle()"> About </a>
      <a [routerLink]="'/contact'" mat-list-item (click)="sidenav.toggle()"> Contact </a>
      <a [routerLink]="'/profile'" mat-list-item *ngIf="isAuthenticated">
        {{ currentUser?.firstName }} {{ currentUser?.lastName }}
      </a>
      <a mat-list-item *ngIf="isAuthenticated" (click)="logout()" (click)="sidenav.toggle()">
        {{ translationKeys.navbarLogout | translate }}
      </a>
      <mat-form-field fxFlex="0">
        <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage()">
          <mat-option *ngFor="let language of languages" [value]="language.resource">
            {{ language.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
