table {
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
}
