<mat-toolbar>
  <span>{{ translationKeys.toolbarName | translate }}</span>

  <span class="toolbar-spacer"></span>

  <span>
    <button mat-raised-button color="primary" (click)="openCreateTransactionDialog()">
      {{ translationKeys.toolbarActionCreateTransaction | translate }}
    </button>
  </span>
</mat-toolbar>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<mat-form-field *ngIf="!isLoading" appearance="outline">
  <mat-label>{{ translationKeys.tableFilterLabel | translate }}</mat-label>
  <input [value]="filterValue" matInput (keyup)="applyFilter($event)" />
</mat-form-field>

<table mat-table *ngIf="!isLoading" [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="accountName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableAccountHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">
      <span [matTooltip]="transaction.accountName" [matTooltipDisabled]="transaction.accountName.length < 30">
        {{ transaction.accountName | truncate: 30 }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableCategoryHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">
      <span [matTooltip]="transaction.categoryName" [matTooltipDisabled]="transaction.categoryName.length < 30">
        {{ transaction.categoryName | truncate: 30 }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="currencyCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableCurrencyCodeHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.currencyCode }}</td>
  </ng-container>

  <ng-container matColumnDef="merchantName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableMerchantHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">
      <span [matTooltip]="transaction.merchantName" [matTooltipDisabled]="transaction.merchantName?.length < 30">
        {{ transaction.merchantName | truncate: 30 }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableTypeHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.type | translateEnum: type }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableAmountHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableDateHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ translationKeys.tableDescriptionHeader | translate }}</th>
    <td mat-cell *matCellDef="let transaction">
      <span [matTooltip]="transaction.description" [matTooltipDisabled]="transaction.description?.length < 50">
        {{ transaction.description | truncate: 50 }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let transaction">
      <button
        mat-icon-button
        (click)="$event.stopPropagation(); openDeleteTransactionDialog(transaction.uid)"
        [matTooltip]="translationKeys.tableDeleteTransactionTooltip | translate"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
      {{ translationKeys.tableNoDataFound | translate }}
    </td>
  </tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTransactionDetails(row.uid)"></tr>
</table>

<mat-paginator *ngIf="!isLoading" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
