<h1 mat-dialog-title>{{ translationKeys.deleteAccountHeader | translate }}</h1>

<div
  mat-dialog-content
  [innerHtml]="translationKeys.deleteAccountContent | translate: { accountName: account.name | truncate: 30 }"
></div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="secondary" (click)="onCancelClick()">
    {{ sharedTranslationKeys.mainActionButtonCancel | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="deleteAccount()">
    {{ sharedTranslationKeys.mainActionButtonOk | translate }}
  </button>
</div>
