<mat-toolbar *ngIf="!isLoading">
  <span>{{ translationKeys.toolbarName | translate }} > {{ budget?.name ?? '' | truncate: 30 }} </span>

  <span class="toolbar-spacer"></span>

  <div class="toolbar-buttons">
    <span *ngIf="!isEditing">
      <button mat-raised-button color="primary" (click)="toggleEdit()">
        {{ sharedTranslationKeys.mainActionButtonEdit | translate }}
      </button>
    </span>

    <span *ngIf="isEditing">
      <button mat-raised-button color="secondary" (click)="toggleEdit()">
        {{ sharedTranslationKeys.mainActionButtonCancel | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="editBudget()">
        {{ sharedTranslationKeys.mainActionButtonSave | translate }}
      </button>
    </span>
  </div>
</mat-toolbar>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!isLoading && budget" class="mat-elevation-z8">
  <mat-card-title>{{ translationKeys.detailsHeader | translate }}</mat-card-title>

  <mat-card-content>
    <div [formGroup]="budgetForm" class="grid-container">
      <div *ngIf="!isEditing" class="grid-item">{{ translationKeys.detailsNameHeader | translate }}</div>
      <div class="grid-item">
        <span [matTooltip]="budget.name" [matTooltipDisabled]="budget.name.length < 30">
          {{ budget.name | truncate: 30 }}
        </span>
      </div>
      <div *ngIf="isEditing" class="grid-item">
        <mat-form-field appearance="outline">
          <input type="text" matInput formControlName="name" cdkFocusInitial />
        </mat-form-field>
      </div>

      <div class="grid-item">{{ translationKeys.detailsCategoryHeader | translate }}</div>
      <div class="grid-item">{{ budget.categoryName }}</div>

      <div class="grid-item">{{ translationKeys.detailsStartDateHeader | translate }}</div>
      <div class="grid-item">{{ budget.startDate | date }}</div>

      <div class="grid-item">{{ translationKeys.detailsEndDateHeader | translate }}</div>
      <div class="grid-item">{{ budget.endDate | date }}</div>

      <div class="grid-item">{{ translationKeys.detailsAmountHeader | translate }}</div>
      <div *ngIf="!isEditing" class="grid-item">{{ budget.amount }}</div>
      <div *ngIf="isEditing" class="grid-item">
        <mat-form-field appearance="outline">
          <input type="number" matInput formControlName="amount" />
        </mat-form-field>
      </div>

      <div class="grid-item no-border">{{ translationKeys.detailsAmountSpentHeader | translate }}</div>
      <div class="grid-item no-border">{{ budget.amountSpent }}</div>
    </div>
  </mat-card-content>
</mat-card>
