<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <img /> -->

    <div fxShow="true" fxHide.lt-md *ngIf="isAuthenticated">
      <a mat-button [routerLink]="'/categories'" routerLinkActive="mat-accent">
        {{ translationKeys.navbarCategoriesMenu | translate }}
      </a>
      <a mat-button [routerLink]="'/exchange-rates'" routerLinkActive="mat-accent">
        {{ translationKeys.navbarExchangeRatesMenu | translate }}
      </a>
      <a mat-button [routerLink]="'/accounts'" routerLinkActive="mat-accent">
        {{ translationKeys.navbarAccountsMenu | translate }}
      </a>
      <a mat-button [routerLink]="'/merchants'" routerLinkActive="mat-accent">
        {{ translationKeys.navbarMerchantsMenu | translate }}
      </a>
      <a mat-button [routerLink]="'/transactions'" routerLinkActive="mat-accent">
        {{ translationKeys.navbarTransactionsMenu | translate }}
      </a>
    </div>

    <span class="menu-spacer"></span>

    <div fxShow="true" fxHide.lt-md>
      <a mat-button *ngIf="!isAuthenticated" (click)="login()">
        {{ translationKeys.navbarLoginOrRegister | translate }}
      </a>
      <a mat-button [routerLink]="'/profile'" routerLinkActive="mat-accent" *ngIf="isAuthenticated">
        <mat-icon>perm_identity</mat-icon> {{ currentUser?.firstName }} {{ currentUser?.lastName }}
      </a>
      <a mat-button *ngIf="isAuthenticated" (click)="logout()"> {{ translationKeys.navbarLogout | translate }} </a>
      <mat-form-field class="form-field">
        <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage()">
          <mat-option *ngFor="let language of languages" [value]="language.resource">
            {{ language.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <div *ngIf="isAuthenticated">
        <a [routerLink]="'/categories'" routerLinkActive="mat-accent" mat-list-item (click)="sidenav.toggle()">
          {{ translationKeys.navbarCategoriesMenu | translate }}
        </a>
        <a [routerLink]="'/exchange-rates'" routerLinkActive="mat-accent" mat-list-item (click)="sidenav.toggle()">
          {{ translationKeys.navbarExchangeRatesMenu | translate }}
        </a>
        <a [routerLink]="'/accounts'" routerLinkActive="mat-accent" mat-list-item (click)="sidenav.toggle()">
          {{ translationKeys.navbarAccountsMenu | translate }}
        </a>
        <a [routerLink]="'/merchants'" routerLinkActive="mat-accent" mat-list-item (click)="sidenav.toggle()">
          {{ translationKeys.navbarMerchantsMenu | translate }}
        </a>
        <a [routerLink]="'/transactions'" routerLinkActive="mat-accent" mat-list-item (click)="sidenav.toggle()">
          {{ translationKeys.navbarTransactionsMenu | translate }}
        </a>

        <mat-divider></mat-divider>

        <a [routerLink]="'/profile'" routerLinkActive="mat-accent" mat-list-item>
          {{ currentUser?.firstName }} {{ currentUser?.lastName }}
        </a>
        <a mat-list-item (click)="logout()" (click)="sidenav.toggle()">
          {{ translationKeys.navbarLogout | translate }}
        </a>
      </div>

      <div *ngIf="!isAuthenticated">
        <a mat-list-item (click)="sidenav.toggle()" (click)="login()">
          {{ translationKeys.navbarLoginOrRegister | translate }}
        </a>
      </div>

      <div class="form-field-list-item">
        <mat-form-field>
          <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage()">
            <mat-option *ngFor="let language of languages" [value]="language.resource">
              {{ language.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
