<mat-toolbar *ngIf="!isLoading">
  <span>{{ translationKeys.toolbarName | translate }} > {{ account?.name ?? '' | truncate: 30 }}</span>

  <span class="toolbar-spacer"></span>

  <span *ngIf="!isEditing">
    <button mat-raised-button color="primary" (click)="editAccount()">Edit</button>
  </span>
  <span *ngIf="isEditing">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="primary" (click)="editAccount()">Cancel</button>
  </span>
</mat-toolbar>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!isLoading && account" class="mat-elevation-z8">
  <mat-card-title>{{ translationKeys.detailsHeader | translate }}</mat-card-title>

  <mat-card-content>
    <div [formGroup]="accountForm" class="grid-container">
      <div class="grid-item">{{ translationKeys.detailsNameHeader | translate }}</div>
      <div *ngIf="!isEditing" class="grid-item">
        <span [matTooltip]="account.name" [matTooltipDisabled]="account.name.length < 30">
          {{ account.name | truncate: 30 }}
        </span>
      </div>
      <div *ngIf="isEditing" class="grid-item">
        <mat-form-field appearance="outline" class="no-margin-form-field">
          <input type="text" matInput formControlName="name" cdkFocusInitial />
        </mat-form-field>
      </div>

      <div class="grid-item">{{ translationKeys.detailsTypeHeader | translate }}</div>
      <div *ngIf="!isEditing" class="grid-item">{{ account.type | translateEnum: type }}</div>
      <div *ngIf="isEditing" class="grid-item">
        <mat-form-field appearance="outline" class="no-margin-form-field">
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{ type.translationKey | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="grid-item">{{ translationKeys.detailsBalanceHeader | translate }}</div>
      <div *ngIf="!isEditing" class="grid-item">{{ account.balance }}</div>
      <div *ngIf="isEditing" class="grid-item">
        <mat-form-field appearance="outline" class="no-margin-form-field">
          <input type="number" matInput formControlName="balance" />
        </mat-form-field>
      </div>

      <div class="grid-item">{{ translationKeys.detailsCurrencyHeader | translate }}</div>
      <div *ngIf="!isEditing" class="grid-item">{{ account.currencyCode }}</div>
      <div *ngIf="isEditing" class="grid-item">
        <mat-form-field appearance="outline" class="no-margin-form-field">
          <input type="text" matInput formControlName="currencyCode" [matAutocomplete]="currency" />
          <mat-autocomplete #currency="matAutocomplete" [displayWith]="displayCurrency.bind(this)">
            <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.code">
              [{{ currency.code }}] {{ currency.name }} - {{ currency.symbol }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="grid-item no-border">{{ translationKeys.detailsDescriptionHeader | translate }}</div>
      <div *ngIf="!isEditing" class="grid-item no-border">
        <span [matTooltip]="account.description ?? ''" [matTooltipDisabled]="(account.description?.length ?? 0) < 50">
          {{ account.description ?? '' | truncate: 50 }}
        </span>
      </div>
      <div *ngIf="isEditing" class="grid-item no-border">
        <mat-form-field appearance="outline" class="no-margin-form-field">
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
